---

ssh_host: {{ template_ssh_host }}
ssh_user: {{ template_ssh_user }}
ssh_port: {{ template_ssh_port }}
ssh_private_key: {{ template_ssh_private_key }}
Jenkins_Secret: {{ template_Jenkins_Secret }}
Jenkins_Node_Name: {{ template_Jenkins_Node_Name }}
Jenkins_Master_IP: {{ template_Jenkins_Master_IP }}
Jenkins_Master_Port: {{ template_Jenkins_Master_Port }}