---

Jenkins_Secret: {{ template_Jenkins_Secret }}
Jenkins_Node_Name: {{ template_Jenkins_Node_Name }}
Jenkins_Master_IP: {{ template_Jenkins_Master_IP }}
Jenkins_Master_Port: {{ template_Jenkins_Master_Port }}
...